:root {
    --bg-color: snow;
    --title-color: #000;
    --span-color: #ce0707;
    --header-bg: linear-gradient(45deg, #4e0101, #f8f40a);

    --color-1: #f8f40a;
    --color-2: #f1b211;
    --color-3: #e83611;
    --color-4: #ce0707;
    --color-5: #4e0101;
}